%inputstyling {
    width: 100%;
    border-radius: 2px;
    margin-top: .75rem;
    padding: 0.75rem 1rem;
    border: none;
}

%cta {
    @extend %inputstyling;
    background: #12C2E9;
    border-radius: 6px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    cursor: pointer;
}

.sig {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.error {
    color: red;
}

button.cta {
    @extend %cta;
}

form.newsletter {
    background: #252525;
    border: 1px solid #979797;

    input[type=text] {
        @extend %inputstyling;
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 21px;
    }
    button {
        @extend %cta;
    }
    .consent {
        font-size: 11px;
        font-style: italic;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.page-header {
    @extend %bgCool;
    color: white;
    height: 240px;

    h1 {
        margin-top:0;
        font-family: "Catamaran";
    }
}

.page-inside {
    font-family: "Raleway";
    padding-top: 3rem;
    text-align: left;
    p {
        line-height: 2rem;
    }

    ul {
      
        li {
            display: inline;
            &:after {
                content:" | ";
                display: "inline-block";
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
    pre.prettyprint {
        display:block;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-sizing: border-box;
        border: 0;
    }
}

.logo { font-family: "Catamaran"; }

.video {
    border: 10px solid #eee;
    box-sizing: border-box;
    box-shadow: 2px 4px 20px 5px rgba(255, 192, 244, 0.8)
}

.blog-page-inside {
    font-family: "Raleway";
    padding-top: 3rem;
    text-align: left;
}

@media only screen and (max-width: 1199px){
    
}
  
  
@media only screen and (max-width: 480px) {
    button.cta {
        font-size: 1.25rem;
    }
    form.newsletter {
    
        input[type=text] {
            font-size: 1.2rem;
        }
        button {
            font-size: 1.25rem;
        }

    }
}
  