footer {
  background: #232323;  /* fallback for old browsers */
  color: white;
  min-height: 649px;
}

footer h2 {
  font-family: "Catamaran";
}

footer a {
    color: white;
}

footer a:hover {
  text-decoration: underline;
  color:white;
}
