.hb_logo {
    font-size: 32px;
    font-family: "Righteous";
    p,sup {
      font-family: "Open Sans";
    }
}
.hbicon_wrap {
    text-align: right;
}
.hbicon {
    display: inline-block;
    background: url('../images/hbicon.png') no-repeat; /* Make an svg */
    background-size:contain;
    height: 50px;
    width: 50px;
    position: relative;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #3d3d3d;
}
.home header {
    margin-bottom: 0;
    color: white;
    a { color: white; }
    a:hover, a:active, a:visited { color: white; }
}

.inside header {
    background: #F6DB17;
    a { color: black; }
    a:hover, a:active, a:visited { color: black; }
}

header.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
}


header .hb_menu {
    display: inline-block;
    font-size: 1rem;
}

header .hb_menu li {
    display: inline;
    margin-right: 5px;
}
header .hb_menu li:after {
    margin-left:5px;
    content:"|";
    display:inline-block;
}
header .hb_menu li:last-child:after {
   content:"";
}

/* Tablet */
@media only screen and (max-width: 1199px){
    .hb_logo {
        padding-left: 10px;
    }
}

/* Mobile */
@media screen and (max-width: 660px){
    .hb_logo {
        font-size: 18px;
        padding-left: 0;
        p, sup {
            font-size: 8px !important;
        }
    }
    .hbicon {
        height: 25px;
        width: 25px;
    }
}