html, body {
  font-family: "Open Sans";
  font-size: 16px;
  font-kerning: antialiased;
  color: #3d3d3d;
}
a {
  text-decoration: none;
}
.container-fluid {
  max-width: 1400px;
}
main {
  h1,h2,h3,h4,h5,h6 {
    font-family: "Source Sans Pro", cursive;
    font-weight: 600;
  }
  h1 { font-size: 4.209rem; }
  h2 { font-size: 3.157rem; }
  h3 { font-size: 2.369rem; }
  h4 { font-size: 1.777rem; }
  h5 { font-size: 1.333rem; } 
  h6 { font-size: 1rem; }
}
.jumbo {

}

%bgCool {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #12C2E9, #C471ED, #F64F59);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #12C2E9, #C471ED, #F64F59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.placeholder {
  @extend %bgCool;
  width: 100%;
}

@media only screen and (min-width: 1600px){

}

@media only screen and (max-width: 1199px){

}

@media only screen and (max-width: 964px){

}


@media only screen and (max-width: 480px) {


}

