body {
    font-family: "Open Sans";
}
a:hover { text-decoration: none;}

.mainheading {
    color: #FFFFFF;
    h1 {text-transform: uppercase;} 
}
.underline { text-decoration: underline; }

.flex-center {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.text-dark {
    color: #232323;
}

.homewrap {
    background: url('../images/jumbotron.png') no-repeat;
    background-size: cover;
}

  