.tile {
    height: 320px;
    width: 300px;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-sizing: border-box;
    margin-right:20px;
    color: white;
   
}
.tile:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 480px) {
    .tile{
        width:100%;
    }
  }
