@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Catamaran";
    src: url("../fonts/Catamaran-Bold.ttf")
}