@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Catamaran";
    src: url("../fonts/Catamaran-Bold.ttf")
}

h2 { font-family: "Catamaran" !important;}