header {
    font-family: "Raleway";
    margin-bottom: 0;
}
header div:first-child {
    width:50%;
}
header div:last-child {
    padding-top: 40px;
    padding-right: 50px;
}
header h1 {
    font-family: "Europa-Bold";
    text-transform: lowercase;
}
header h1 a {
    color: #252525 !important;
}

header .hb_menu li a {
    color: #252525;
    text-decoration: none;
}

header .hb_menu {
    font-size: 0.65rem;
}

header .hb_menu li {
    display: inline;
    margin-right: 5px;
}
header .hb_menu li:after {
    margin-left:5px;
    content:"|";
    display:inline-block;
}
header .hb_menu li:last-child:after {
   content:"";
}