@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: "Open Sans";
}

.main_jumbo {
    background: url(../images/person-coding.jpg);
    background-size: cover;
    background-position: 0% 40%;
    height: 480px;
    width: 100%;
}

.main_jumbo h1 {
    text-align: center;
    padding-top: 200px;
    text-shadow: 1px 1px 11px #0062cc;
    font-family: Tomorrow;
    color: white;
}